In [46]:
import pandas as pd
from scipy import sparse

In [47]:
ratings = pd.read_csv('dataset/ratings.csv')
movies = pd.read_csv('dataset/movies.csv')

In [48]:
movies['title']=movies['title'].str.replace(r" \(.*\)","")
movies['title']=movies['title'].str.lower()

/var/folders/qv/8gzw3g7n6tg3_bhnspyyl4lc0000gn/T/ipykernel_14738/2201132982.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  movies['title']=movies['title'].str.replace(r" \(.*\)","")

In [49]:

ratings = pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)
print(ratings.shape)
ratings.head()

(100836, 4)

   movieId      title  userId  rating
0        1  toy story       1     4.0
1        1  toy story       5     4.0
2        1  toy story       7     4.5
3        1  toy story      15     2.5
4        1  toy story      17     4.5

In [50]:
userRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head()
print("Before: ",userRatings.shape)
userRatings = userRatings.dropna(thresh=10, axis=1).fillna(0,axis=1)
#userRatings.fillna(0, inplace=True)
print("After: ",userRatings.shape)

Before:  (610, 9396)
After:  (610, 2260)

In [51]:
userRatings.to_csv('ratings.csv',index=False)

In [52]:
userRatings.head()

title,"'burbs, the",(500) days of summer,10 cloverfield lane,10 things i hate about you,"10,000 bc",101 dalmatians,12 angry men,12 years a slave,127 hours,13 going on 30,...,young guns ii,young sherlock holmes,zack and miri make a porno,zero dark thirty,zero effect,zodiac,zombieland,zoolander,zootopia,Â¡three amigos!
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
from scipy import sparse
def get_similar(movie_name,rating):
    similar_ratings = corrMatrix[movie_name]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    #print(type(similar_ratings))
    
    return similar_movies.sum().sort_values(ascending=False).head(10)


def colab(movie_name,rating):
    userRatings = pd.read_csv('ratings.csv')
    corrMatrix = userRatings.corr(method='pearson')
#     corrMatrix.head(100)
    get_similar(movie_name,rating)

In [54]:

corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head(100)

title,"'burbs, the",(500) days of summer,10 cloverfield lane,10 things i hate about you,"10,000 bc",101 dalmatians,12 angry men,12 years a slave,127 hours,13 going on 30,...,young guns ii,young sherlock holmes,zack and miri make a porno,zero dark thirty,zero effect,zodiac,zombieland,zoolander,zootopia,Â¡three amigos!
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, the",1.000000,0.063117,-0.023768,0.143482,0.011998,0.169190,0.034133,0.009277,0.008331,0.049700,...,0.088114,0.257195,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.353194
(500) days of summer,0.063117,1.000000,0.142471,0.273989,0.193960,0.158751,0.160679,0.135486,0.200135,0.297152,...,0.053263,0.053021,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.125905
10 cloverfield lane,-0.023768,0.142471,1.000000,-0.005799,0.112396,0.002605,0.031619,-0.024275,0.272943,-0.027835,...,0.048452,0.028247,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.002733
10 things i hate about you,0.143482,0.273989,-0.005799,1.000000,0.244670,0.256865,0.013083,0.091964,0.043383,0.321071,...,0.045664,0.087961,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.110612
"10,000 bc",0.011998,0.193960,0.112396,0.244670,1.000000,0.231937,0.059068,-0.025882,0.089328,0.167098,...,0.028153,0.040140,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.083518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
amadeus,0.136013,0.084829,-0.055707,0.105783,-0.008620,0.108757,0.244597,0.084634,0.047370,0.089526,...,0.050400,0.122942,-0.010703,0.015008,0.173486,0.103232,0.062977,0.097432,-0.007432,0.136565
"amazing spider-man, the",0.083419,0.224961,0.149903,0.103802,0.278253,0.138029,0.072117,0.121492,0.168369,0.087661,...,0.096687,0.089827,0.350739,0.234351,0.089202,0.262828,0.409487,0.151747,0.373173,0.143658
amelie,0.062232,0.212394,0.006182,0.242019,0.151728,0.083751,0.149556,0.198445,0.087983,0.087940,...,-0.004763,-0.022172,0.117625,0.059183,0.033085,0.228739,0.101700,0.211782,0.035227,0.069898
america's sweethearts,0.033544,0.065807,-0.024386,0.312646,0.151952,0.213797,0.054402,0.093780,0.014376,0.287538,...,0.044024,0.009099,0.154801,0.046843,0.024936,0.127599,0.113779,0.193882,0.037423,0.101727
american beauty,0.077088,0.130235,0.101212,0.220965,0.079245,0.115797,0.228929,0.084226,0.177309,0.070494,...,0.081789,0.130546,0.190580,0.058055,0.161963,0.256360,0.172779,0.214761,0.048562,0.209688

In [55]:
# def get_similar(movie_name,rating):
#     similar_ratings = corrMatrix[movie_name]*(rating-2.5)
#     similar_ratings = similar_ratings.sort_values(ascending=False)
#     #print(type(similar_ratings))
    
#     return similar_ratings

In [61]:
get_similar('cars',4).head(10)

title
cars                                        1.500000
charlie and the chocolate factory           0.751854
ratatouille                                 0.727161
incredibles, the                            0.724104
ocean's eleven                              0.719946
shrek 2                                     0.713742
madagascar                                  0.710785
school of rock                              0.705420
monsters, inc.                              0.697965
harry potter and the prisoner of azkaban    0.692382
Name: cars, dtype: float64

In [56]:
similar_movies.sum().sort_values(ascending=False).head(20)

2012                                    2.500000
Crank                                   1.419296
Expendables, The                        1.290234
A-Team, The                             1.280457
Zack and Miri Make a Porno              1.274129
Next                                    1.249960
Valkyrie                                1.221089
Other Guys, The                         1.195871
Thor: The Dark World                    1.177477
Hancock                                 1.162818
The Amazing Spider-Man 2                1.117862
Expendables 2, The                      1.117228
Ultraviolet                             1.078486
Salt                                    1.078174
Kick-Ass                                1.061056
You Don't Mess with the Zohan           1.058225
Fast & Furious                          1.044209
Transformers: Dark of the Moon          1.034359
American Gangster                       1.026945
Mission: Impossible - Ghost Protocol    1.026616
dtype: float64

In [65]:
action_lover = [("cars",5)]
similar_movies = pd.DataFrame()
for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar(movie,rating),ignore_index = True)

similar_movies.head(10)
# similar_movies.sum().sort_values(ascending=False).head(10)

,cars,charlie and the chocolate factory,ratatouille,"incredibles, the",ocean's eleven,shrek 2,madagascar,school of rock,"monsters, inc.",harry potter and the prisoner of azkaban,...,under siege 2: dark territory,devil in a blue dress,nobody's fool,"juror, the",sudden death,exit to eden,serial mom,houseguest,disclosure,drop zone
0,2.5,1.25309,1.211936,1.20684,1.19991,1.18957,1.184642,1.1757,1.163274,1.15397,...,-0.092244,-0.097234,-0.097656,-0.101301,-0.102106,-0.103743,-0.104746,-0.105235,-0.11712,-0.118393